body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    /*выравниваниe контейнера по центру страницы*/
    justify-content: center;
}

.container {
    display: flex;
    /*для размещения формы и изображения рядом*/
}

.form-container {
    width: 850px;
    height: 1047px;
    /*border: 2px solid blueviolet;*/

}

.image-container {
    width: 590px;
    height: 1047px;
    /*border: 2px solid blueviolet;*/
    background-image: url("../imag/Layer_12.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.header {
    display: flex;
    height: 184px;
    width: 850px;
    align-items: center;
    /*border: 2px solid blueviolet;*/
}

.header-text {
    font-size: 18px;
    margin-left: 571px;
}

a {
    text-decoration: none;
    color: #4743E0;
}

.header-image {
    width: 20px;
    height: 20px;
    background-image: url("../imag/Vector.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 17px;
}

.h1 {
    display: flex;
    height: 167px;
    width: 850px;
    align-items: center;


}

.h1-text1 {
    height: 166px;
    width: 425px;
}

.text1 {
    height: 167px;
    width: 289px;
    font-size: 54px;
    font-weight: bold;
    color: #42505C;
    margin-left: 101px;

}

.h1-text2 {
    height: 166px;
    width: 425px;
}

.text2 {
    height: 104px;
    width: 300px;
    font-size: 18px;
    color: #404040;
    margin-left: 24px;
    margin-top: 17px;
}

.form-name {
    height: 133px;
    width: 850px;
    /*border: 2px solid blueviolet;*/
}

.form-name-border {
    height: 133px;
    width: 645px;
    border-top: 1px dashed rgba(00, 00, 00, .3);
    margin-left: 101px;
    display: flex;
    /*border: 2px solid blueviolet;*/
}

.input-text {
    width: 300px;
    height: 48px;
    color: blue;
    font-size: 18px;
    text-transform: capitalize;
    padding-left: 10px;
    /* Отступ слева для текста-подсказки и введенного текста */
    box-sizing: border-box;
    /* Учитываем отступ в общей ширине элемента */

}


.input-text::placeholder {
    padding-left: 10px;
    /* Отступ слева для текста-подсказки */
}

.form-password {
    height: 153px;
    width: 850px;
    /*border: 2px solid blueviolet;*/
}

.form-password-border {
    height: 153px;
    width: 645px;
    border-bottom: 1px dashed rgba(00, 00, 00, .3);
    border-top: 1px dashed rgba(00, 00, 00, .3);
    margin-left: 101px;
    display: flex;
    /*border: 2px solid blueviolet;*/
}

.button {
    width: 850px;
    height: 172px;
    /*border: 2px solid blueviolet;*/
    display: flex;
}

.button1 {
    width: 425px;
    height: 172px;
    /*border: 2px solid blueviolet;*/
    display: flex
}

.button2 {
    width: 425px;
    height: 172px;
    /*border: 2px solid blueviolet;*/

}

.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 46px;
    margin-left: 110px;
    border: 1px solid #28CD7E;
    outline: none;
    cursor: pointer;
    display: inline-block;
    
}


.checkbox:checked::before {
    border: 1px solid #28CD7E;
    display: inline-block;
}

.button-text {
    margin-top: 46px;
    margin-left: 10px;

}

.button-Register {
    width: 102px;
    height: 48px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #4743E0;
    border: none;
    margin-top: 31px;
    margin-left: 224px;
}

.password1 {
    width: 425px;
    height: 153px;
    /*border: 2px solid blueviolet;*/
    background-image: url("../imag/Vector-question.svg");
    background-repeat: no-repeat;
    background-position-x: 284px;
    background-position-y: 25px;
    background-size: 20px;
}

.line2-container1 {
    width: 425px;
    height: 106px;
    /*border: 2px solid blueviolet;*/
    background-image: url("../imag/Vector-question.svg");
    background-repeat: no-repeat;
    background-position-x: 384px;
    background-position-y: 9px;
    background-size: 20px;
}

.line3-container1 {
    width: 425px;
    height: 116px;
    /*border: 2px solid blueviolet;*/
    display: flex;
}

.line3-container11 {
    width: 300px;
    height: 116px;
    /*border: 2px solid blueviolet;*/

    justify-content: space-between;
    margin-left: 101px;
    background-image: url("../imag/Vector-question.svg");
    background-repeat: no-repeat;
    background-position-x: 280px;
    background-position-y: 9px;
    background-size: 20px;
}


.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 2px;
}

.radio-group label {
    display: inline-block;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 42px;
    width: 60px;
    text-align: center;
    border: 2px solid #42505C;
    color: #42505C;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;


}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group input[type="radio"]:checked+label {
    border-color: blue;
    color: blue;
    border: 3px solid blue;
    box-shadow: 0px 0px 15px rgba(101, 59, 227, 0.7);
}

.radio-group label:hover {
    border-color: blue;
    border: 3px solid blue;
    color: blue;
    box-shadow: 0px 0px 10px rgba(101, 59, 227, 0.7);
}

.tooltip {
    font-size: 1.2em;
    margin-bottom: 10px;
}


.line3-container12 {
    width: 300px;
    height: 28px;
    /*border: 2px solid blueviolet;*/
    font-weight: bold;
    color: #333333;
    font-size: 14px;
    padding-top: 5px;
}

.line3-container13 {
    width: 300px;
    height: 80px;
    /* border: 2px solid blueviolet;*/
}

.line2-container2 {
    width: 425px;
    height: 106px;
    /*border: 2px solid blueviolet;*/
    background-image: url("../imag/Vector-question.svg");
    background-repeat: no-repeat;
    background-position-x: 296px;
    background-position-y: 9px;
    background-size: 20px;
}

.line3-container2 {
    width: 425px;
    height: 116px;
    /*border: 2px solid blueviolet;*/
    background-image: url("../imag/Vector-question.svg");
    background-repeat: no-repeat;
    background-position-x: 296px;
    background-position-y: 9px;
    background-size: 20px;
}


.input1 {
    width: 322px;
    height: 133px;
    /*border: 2px solid blueviolet;*/
    background-image: url("../imag/Vector-question.svg");
    background-repeat: no-repeat;
    background-position-x: 286px;
    background-position-y: 29px;
    background-size: 20px;
}



.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
}

.form-group2 {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.form-group3 {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.form-group-right {
    margin-left: 18px;
}

.form-group-right2 {
    margin-left: 16px;
}

.form-group-right3 {
    margin-left: 16px;
}

.form-group label {
    margin-bottom: 10px;
}

.form-group2 label {
    margin-bottom: 10px;
}

.form-group3 label {
    margin-bottom: 10px;
}

.password2 {
    width: 425px;
    height: 153px;
    /*border: 2px solid blueviolet;*/
    background-image: url("../imag/Vector-question.svg");
    background-repeat: no-repeat;
    background-position-x: 303px;
    background-position-y: 28px;
    background-size: 20px;
}


.input2 {
    width: 322px;
    height: 133px;
    /*border: 2px solid blueviolet;*/
    background-image: url("../imag/Vector-question.svg");
    background-repeat: no-repeat;
    background-position-x: 295px;
    background-position-y: 29px;
    background-size: 20px;
}



.label {
    font-size: 18px;
    color: #404040;
    font-weight: bold;

}

.line2 {
    height: 106px;
    width: 850px;
    /*border: 2px solid blueviolet;*/
    display: flex;
}

.line3 {
    height: 116px;
    width: 850px;
    /*border: 2px solid blueviolet;*/
    display: flex;
}

.left {
    margin-left: 101px;
}

.optional {
    color: #404040;
    z-index: 1;
}