/*@import url("../reset.css"); но это не очень крутая штука, да он обнуляет стили, но для каждого тега надо
        будет писать отдельные стили для этого лучше использовать https://necolas.github.io/normalize.css/
        
        @import url("../normalise.css");  
        
        подключать что-то одно*/

* {
    box-sizing: border-box;
    /*падинги и бордеры всчитываются в ту ширину, которая указана*/
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    /*выравниваниe контейнера по центру страницы*/
    justify-content: center;

}

.container {
    display: flex;
    /*для размещения формы и изображения рядом*/
}

.image-container {
    width: 590px;
    height: 1047px;
    /*border: 2px solid blueviolet;*/
    background-image: url("../img/Layer_12.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.form-container {
    width: 850px;
    height: 1047px;
    /*border: 2px solid blueviolet;*/
}

.input-container {
    width: 644px;
    height: 1047px;
    margin-left: 106px;
    /*border: 2px solid blueviolet;*/

}

.header {
    display: flex;
    height: 184px;
    width: 644px;
    align-items: center;
    /*border: 2px solid blueviolet;*/
}

.header-text {
    font-size: 16px;
    margin-left: 463px;
}

a {
    text-decoration: none;
    color: #4743E0;
}

.header-image {
    width: 20px;
    height: 20px;
    /*background-image: url("../imag/Vector.svg");
            background-repeat: no-repeat;
            background-size: contain;*/
    margin-left: 10px;
}

.h1 {
    display: flex;
    height: 167px;
    width: 644px;
    align-items: center;
    /*border: 2px solid blueviolet;*/
}

.h1-text1 {
    height: 166px;
    width: 50%;
    /*border: 2px solid blueviolet;*/
    border-bottom: 1px dashed rgba(00, 00, 00, .3);
}

.text1 {
    height: 167px;
    width: 289px;
    font-size: 54px;
    font-weight: bold;
    color: #42505C;
}

.h1-text2 {
    height: 166px;
    width: 50%;
    /*border: 2px solid blueviolet;*/
    border-bottom: 1px dashed rgba(00, 00, 00, .3);
}

.text2 {
    height: 104px;
    width: 300px;
    font-size: 16px;
    color: #404040;
    margin-left: 20px;
    margin-top: 8px;
    line-height: 1.5;
}

.line1 {
    width: 644px;
    height: 115px;
    /*border: 2px solid blueviolet;*/
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.line2 {
    width: 644px;
    height: 115px;
    /*border: 2px solid blueviolet;*/
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.box1 {
    width: 50%;
    height: 115px;
    /*border: 2px solid blueviolet;*/
}

.font {
    font-size: 18px;
}

.label {
    width: 100%;
    display: flex;
    margin-top: 26px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
}

.input {
    width: 100%;

}

input {
    font-size: 18px;
}

.input>input {
    width: 100%;
    height: 48px;
    padding: 1rem;

}

.line3 {
    width: 644px;
    height: 135px;
    /*border: 2px solid blueviolet;*/
    border-bottom: 1px dashed rgba(00, 00, 00, .3);
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.box3 {
    width: 50%;
    height: 135px;
    /*border: 2px solid blueviolet;*/
}

.line4 {
    width: 644px;
    height: 153px;
    /*border: 2px solid blueviolet;*/
    border-bottom: 1px dashed rgba(00, 00, 00, .3);
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.box4 {
    width: 50%;
    height: 153px;
    /*border: 2px solid blueviolet;*/
}

.button {
    width: 644px;
    height: 172px;
    /*border: 2px solid blueviolet;*/
    display: flex;
}

.button1 {
    width: 50%;
    height: 172px;
    /*border: 2px solid blueviolet;*/
    display: flex
}

.button2 {
    width: 50%;
    height: 172px;
    /*border: 2px solid blueviolet;*/
}

/*скрыли стандартный чекбокс*/
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/*создаем кастомный чекбокс*/
.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

/*создаем стиль кастомного чекбокс*/
.custom-checkbox .checkmark {
    position: absolute;
    margin-top: 0px;
    margin-left: -28px;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(40, 205, 126, 1);
    background-color: white;
}

/*создаем стиль для нажатого чекбокс*/
.custom-checkbox input:checked+.checkmark {
    background-color: rgba(40, 205, 126, 1);
}

/*Индикатор состояния (галочка)*/
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/*Отображение галочки*/
.custom-checkbox input:checked+.checkmark:after {
    display: block;
}

/*Стиль галочки*/
.custom-checkbox .checkmark:after {
    border: solid white;
    border-width: 0 3px 3px 0;
    border: 2px solid rgb(90, 106, 194);
    transform: rotate(45deg);
}

.button-text {
    margin-top: 74px;
    margin-left: 10px;
}

.button-Register {
    width: 102px;
    height: 48px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #4743E0;
    border: none;
    margin-top: 49px;
    float: right;
    cursor: pointer;
}

.text-gris {
    color: rgba(51, 51, 51, .3);
}

.bold {
    font-weight: bold;
}

.radio-input {
    width: 300px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    gap: 1 rem;
}

.radio-input label {
    border: 2px solid #42505C;
    padding: .3 rem;
    width: 68px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #42505C;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.9em;
}

input[type="radio"] {
    display: none;
}

.radio-input input[type="radio"]:checked+label {
    border-color: blue;
    color: blue;
    border: 3px solid blue;
    box-shadow: 0px 0px 15px rgba(101, 59, 227, 0.7);
}

.radio-input label:hover {
    border-color: blue;
    border: 3px solid blue;
    color: blue;
    box-shadow: 0px 0px 10px rgba(101, 59, 227, 0.7);
}